# Migrations
**/migrations/
**/migrations/__pycache__/
# Окружение
.env
.env.*
!.env.example

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg-info/
.eggs/
dist/
build/

# Тесты и линтеры
.coverage
.coverage.*
coverage.xml
.pytest_cache/
.pytype/
.cache
.mypy_cache/
.ruff_cache/

# Virtualenv / uv
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/

# Migratioms

migrations/