# Django
Django>=4.2,<5.0
djangorestframework>=3.14,<4.0
django-cors-headers>=4.0,<5.0

# Driver connection
psycopg2-binary>=2.9,<3.0

# Launcher
gunicorn>=21.0,<22.0

# Environment
python-dotenv==1.2.2